@page "/contact"
<header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/data">Character Selector</a></li>
            <li><a href="/MonsterInfo">Monsters</a></li>
            <li><a href="/rules">Rules</a></li>
            <li><a href="/Contact">Contact</a></li>
        </ul>
    </nav>
</header>

<div style="text-align:center;">
    <h1>Fuck You</h1> 
</div>
